@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <p>
        Ürün Adı: @Html.TextBox("search")
        <input type="submit" value="Ara" />
    </p>
}
<br />

<table class="table table-bordered">

    <tr>

        <th>Ürün</th>
        <th>Marka</th>
        <th>Stok</th>
        <th>Alış Fiyatı </th>
        <th>Satış Fiyatı</th>
        <th>Kategori</th>

        <th>Sil</th>
        <th>Güncelle</th>
        <th>Satış Yap</th>

    </tr>
    @foreach (var product in Model)
    {
        <tr>

            <td>@product.ProductName</td>
            <td>@product.ProductBrand</td>
            <td>@product.Stock</td>
            <td>@product.PurchasePrice ₺</td>
            <td>@product.SalePrice ₺</td>
            <td>@product.category.CategoryName</td>

            <td><a href="/Product/ProductDelete/@product.ProductID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Product/ProductUpdate/@product.ProductID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Product/DoSale/@product.ProductID" class="btn btn-default" style="background-color:aquamarine">Satış Yap</a></td>


        </tr>

    }
</table>
<br />

<a href="/Product/ProductAdd/" class="btn btn-info">Yeni Ürün</a>



