@model MvcOnlineTicariOtomasyon.Models.Sınıflar.Recipt
@{
    ViewBag.Title = "AddRecipt";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Yeni Fatura Girişi</h2>
<br />

<form class="form-group" method="post">

    <h6>Fatura Seri No </h6>
    @Html.TextBoxFor(x => x.ReciptSerialNumber, new { @class = "form-control" })
    <br />

    <h6>Fatura Sıra No</h6>
    @Html.TextBoxFor(x => x.ReciptRankNumber, new { @class = "form-control" })
    <br />

    <h6>Tarih</h6>
    @Html.TextBoxFor(x => x.ReciptDate, new { @class = "form-control" })
    <br />

    <h6>Saat</h6>
    @Html.TextBoxFor(x => x.ReciptTime, new { @class = "form-control" })
    <br />
    <h6>Vergi Dairesi</h6>
    @Html.TextBoxFor(x => x.TaxAdministration, new { @class = "form-control" })
    <br />

    <h6>Teslim Eden</h6>
    @Html.TextBoxFor(x => x.Submitter, new { @class = "form-control" })
    <br />
    <h6>Teslim Alan</h6>
    @Html.TextBoxFor(x => x.Receiver, new { @class = "form-control" })
    <br />



    <button class="btn btn-primary">Kaydet</button>

</form>


