@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<SalesMove>



@{
    ViewBag.Title = "DepartmanEmployeSales";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Departman Personel Satış</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Personel Adı: @ViewBag.dper</li>
</ol>


<table class="table table-condensed">

    <tr>
       
        <th>Ürün</th>
        <th>Cari</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdır</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>

            
            <td>@x.Product.ProductName</td>
            <td>@x.Customer.CustomerName @x.Customer.CustomerSurName</td>
            <td>@x.Price ₺</td>
            <td>@x.Quantity</td>
            <td>@x.TotalPrice ₺</td>
            <td>@x.Date</td>
            <td><a href="#" class="btn btn-default" style="background-color:dodgerblue">Yazdır</a></td>


        </tr>
    }
</table>
