@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<SalesMove>



@{
    ViewBag.Title = "SalesDetails";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Satış Detayları</h2>

<br />



<table class="table table-condensed">

    <tr>
        <th>Satış ID</th>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Personel</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>

            <td>@x.SalesMoveID</td>
            <td>@x.Product.ProductName</td>
            <td>@x.Customer.CustomerName @x.Customer.CustomerSurName</td>
            <td>@x.Employee.EmployeeName @x.Employee.EmployeeSurName</td>
            <td>@x.Price</td>
            <td>@x.Quantity</td>
            <td>@x.TotalPrice</td>
            <td>@x.Date</td>



        </tr>
    }
</table>
<button class="btn btn-default" style="background-color:dodgerblue">Yazdır</button>